<div class="who-to-follow">
    <div class="who-to-follow__block">
        <div class="who-to-follow__heading">
           <span class="back-icon" (click)="backToNewsFeed()"><mat-icon>keyboard_backspace</mat-icon></span> Suggested for you
        </div>
    </div>
    <div *ngFor="let user of users;let i=index">
        <div class="who-to-follow__block">
            <div class="who-to-follow__author-logo-placeholder"></div>
            <div class="who-to-follow__content">
                <div>
                    <div (click)="goToUserProfile(user.id)" class="who-to-follow__author-name">
                        {{user.username}}
                    </div>
                    <div class="who-to-follow__author-slug">
                        {{user.email}}
                    </div>
                </div>
                <div (click)="toggleFollowStatus(user)" class="who-to-follow__button">
                    {{ userFollowStatusMap[user.id] ? 'Unfollow' : 'Follow' }}
                </div>
            </div>
        </div>
    </div>
</div>
