<div class="layout">
    <div class="layout__left-sidebar">
        <img src="assets/svg/twitter.svg" class="brand" />
        <div class="sidebar-menu">
            <div class="sidebar-menu__item sidebar-menu__item--active">
                <img src="assets/svg/home.svg" class="sidebar-menu__item-icon" />
                Home
            </div>
            <div (click)="viewFollowersList()" class="sidebar-menu__item">
                <img src="assets/svg/explore.svg" class="sidebar-menu__item-icon" />
                Followers
            </div>

            <div class="sidebar-menu__item">
                <img src="assets/svg/notifications.svg" class="sidebar-menu__item-icon" />
                Notifications
            </div>

            <div class="sidebar-menu__item">
                <img src="assets/svg/messages.svg" class="sidebar-menu__item-icon" />
                Messages
            </div>

            <div (click)="viewFollowingList()" class="sidebar-menu__item">
                <img src="assets/svg/profile.svg" class="sidebar-menu__item-icon" />
                Following
            </div>

            <div class="sidebar-menu__item">
                <img src="assets/svg/more.svg" class="sidebar-menu__item-icon" />
                More
            </div>
        </div>
    </div>
    
        <div class="layout__main">
            <ng-container *ngIf="!isShowAllUserList && !isShowFollersList && !isShowFollowingList">
            <div class="post-box">
                <mat-form-field appearance="outline" class="post-input">
                    <mat-label>What's happening?</mat-label>
                    <textarea matInput [(ngModel)]="post" placeholder="Compose your tweet"></textarea>
                  </mat-form-field>
                  <div class="tweet-alert" *ngIf="post.length > 160">Tweet can't be more than 160</div>
                <div class="post-actions">
                    <button mat-icon-button>
                        <mat-icon>photo</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>gif</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>poll</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>insert_emoticon</mat-icon>
                    </button>
                    <span class="flex-spacer"></span>
                    <button [disabled]="post.length===0 || post.length>160" mat-raised-button color="primary"
                        (click)="createPost()">Tweet</button>
                </div>
            </div>

            <div class="tweet">
                <img class="tweet__author-logo" src="assets/images/profile-image-1.jpg" />
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Becki (& Chris)
                        </div>
                        <div class="tweet__author-slug">
                            @beckiandchris
                        </div>
                        <div class="tweet__publish-time">
                            38m
                        </div>
                    </div>
                    <div class="tweet__content">
                        Thank you
                    </div>
                </div>
            </div>
            <div class="tweet">
                <img class="tweet__author-logo" src="assets/images/profile-image-1.jpg" />
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Elixir Digest
                        </div>
                        <div class="tweet__author-slug">
                            @elixirdigest
                        </div>
                        <div class="tweet__publish-time">
                            10d
                        </div>
                    </div>
                    <div class="tweet__content">
                        Yet Another Guide To Build a JSON API with Phoenix 1.5 shared in
                        the latest Elixir Digest
                        <a href="https://elixirdigest.net/digests/276">https://elixirdigest.net/digests/276</a>
                        @_tamas_soos #myelixirstatus #elixirlang #phoenixframework
                    </div>
                </div>
            </div>

            <div class="tweet">
                <img class="tweet__author-logo" src="assets/images/profile-image-1.jpg" />
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Chris Martin
                        </div>
                        <div class="tweet__author-slug">
                            @chris_martin
                        </div>
                        <div class="tweet__publish-time">
                            15h
                        </div>
                    </div>
                    <div class="tweet__content">
                        One of my favorite things about the "ergonomics" of haskell is
                        being able to leave underscores in code that isn't finished yet,
                        and the type checker still works and provides useful information
                        about the incomplete code. ("holes" --
                        <a href="https://typeclasses.com/typed-holes">https://typeclasses.com/typed-holes</a>)
                        <img class="tweet__image" src="assets/images/post-image-1.jpeg" />
                    </div>
                </div>
            </div>

            <div class="tweet">
                <img class="tweet__author-logo" src="assets/images/profile-image-1.jpg" />
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Becki (& Chris)
                        </div>
                        <div class="tweet__author-slug">
                            @beckiandchris
                        </div>
                        <div class="tweet__publish-time">
                            38m
                        </div>
                    </div>
                    <div class="tweet__content">
                        Thank you
                    </div>
                </div>
            </div>

            <div class="tweet">
                <img class="tweet__author-logo" src="assets/images/profile-image-1.jpg" />
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Becki (& Chris)
                        </div>
                        <div class="tweet__author-slug">
                            @beckiandchris
                        </div>
                        <div class="tweet__publish-time">
                            38m
                        </div>
                    </div>
                    <div class="tweet__content">
                        Thank you
                    </div>
                </div>
            </div>

            <div class="tweet">
                <img class="tweet__author-logo" src="assets/images/profile-image-1.jpg" />
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            Becki (& Chris)
                        </div>
                        <div class="tweet__author-slug">
                            @beckiandchris
                        </div>
                        <div class="tweet__publish-time">
                            38m
                        </div>
                    </div>
                    <div class="tweet__content">
                        Thank you
                    </div>
                </div>
            </div>
        </ng-container>
            <ng-container *ngIf="isShowAllUserList">
                <app-userlist (isShowAllUserList)="onChildValueUpdated($event)" [userlist]="users"></app-userlist>
            </ng-container>
            <ng-container *ngIf="isShowFollowingList">
                <app-followings></app-followings>
            </ng-container>

            <ng-container *ngIf="isShowFollersList">
                <app-followers></app-followers>
            </ng-container>
        </div>
   
    <div class="layout__right-sidebar-container">
        <div class="layout__right-sidebar">
            <div class="trends-for-you">
                <div class="trends-for-you__block">
                    <div class="trends-for-you__heading">
                        Trends for you
                    </div>
                </div>
                <div class="trends-for-you__block">
                    <div class="trends-for-you__meta-information">
                        Trending in Germany
                    </div>
                    <div class="trends-for-you__trend-name">
                        #iPhone12
                    </div>
                    <div class="trends-for-you__meta-information">
                        155k Tweets
                    </div>
                </div>
                <div class="trends-for-you__block">
                    <div class="trends-for-you__meta-information">
                        Trending in Germany
                    </div>
                    <div class="trends-for-you__trend-name">
                        #AmazonPrimeDay
                    </div>
                </div>
                <div class="trends-for-you__block">
                    <div class="trends-for-you__meta-information">
                        Trending - Trending
                    </div>
                    <div class="trends-for-you__trend-name">
                        #autos
                    </div>
                    <div class="trends-for-you__meta-information">
                        2,800 Tweets
                    </div>
                </div>
            </div>
            <ng-container *ngIf="!isShowAllUserList">
                <div class="who-to-follow">
                    <div class="who-to-follow__block">
                        <div class="who-to-follow__heading">
                            Who to follow
                        </div>
                    </div>
                    <div *ngFor="let user of users;let i=index">
                        <div *ngIf="i<3" class="who-to-follow__block">
                            <div class="who-to-follow__author-logo-placeholder"></div>
                            <div class="who-to-follow__content">
                                <div>
                                    <div class="who-to-follow__author-name">
                                        {{user.username}}
                                    </div>
                                    <div class="who-to-follow__author-slug">
                                        {{user.email}}
                                    </div>
                                </div>
                                <div class="who-to-follow__button" (click)="toggleFollowStatus(user)">
                                    {{ userFollowStatusMap[user.id] ? 'Unfollow' : 'Follow' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div (click)="seeAllUserlist()" class="see-more">
                        <a>See more</a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>