<div class="layout">
    <div class="layout__left-sidebar">
        <img src="assets/svg/twitter.svg" class="brand" />
        <div class="sidebar-menu">
            <div (click)="goToHomePage()" class="sidebar-menu__item sidebar-menu__item--active">
                <img src="assets/svg/home.svg" class="sidebar-menu__item-icon" />
                Home
            </div>
            <div (click)="viewFollowersList()" class="sidebar-menu__item">
                <img src="assets/svg/explore.svg" class="sidebar-menu__item-icon" />
                Followers
            </div>

            <div (click)="viewFollowingList()" class="sidebar-menu__item">
                <img src="assets/svg/profile.svg" class="sidebar-menu__item-icon" />
                Following
            </div>
        </div>
    </div>

    <div class="layout__main">
        <ng-container *ngIf="!isShowAllUserList && !isShowFollersList && !isShowFollowingList">
            <div class="post-box">
                <mat-form-field appearance="outline" class="post-input">
                    <mat-label>What's happening?</mat-label>
                    <textarea matInput [(ngModel)]="post" placeholder="Compose your tweet"></textarea>
                </mat-form-field>
                <div class="tweet-alert" *ngIf="post.length > 160">Tweet can't be more than 160</div>
                <div class="post-actions">
                    <button mat-icon-button>
                        <mat-icon>photo</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>gif</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>poll</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>insert_emoticon</mat-icon>
                    </button>
                    <span class="flex-spacer"></span>
                    <button [disabled]="post.length===0 || post.length>160" mat-raised-button color="primary"
                        (click)="createPost()">Tweet</button>
                </div>
            </div>

            <div *ngFor="let tweet of tweets">
                <div class="tweet">
                    <div class="who-to-follow__author-logo-placeholder-tweets"></div>
                    <div class="tweet__main">
                        <div class="tweet__header">
                            <div class="tweet__author-slug">
                                {{tweet?.user.username}}
                            </div>
                            <div class="tweet__publish-time">
                                {{tweet?.published | date: 'mediumDate'}}
                            </div>
                        </div>
                        <div class="tweet__content">
                            {{tweet.content}}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="isShowAllUserList">
            <app-userlist (isShowAllUserList)="onChildValueUpdated($event)" [userlist]="users"></app-userlist>
        </ng-container>
        <ng-container *ngIf="isShowFollowingList">
            <app-followings></app-followings>
        </ng-container>

        <ng-container *ngIf="isShowFollersList">
            <app-followers></app-followers>
        </ng-container>
    </div>

    <div class="layout__right-sidebar-container">
        <div class="layout__right-sidebar">
            <div class="container">
                <h1>Search By username</h1>
                <form (ngSubmit)="onSubmit()">
                    <input type="text" [(ngModel)]="searchTerm" name="searchTerm"
                        placeholder="Enter a Twitter username">
                    <button type="submit">Search</button>
                </form>
                <div *ngFor="let user of searchUserList;let i=index">
                    <div *ngIf="i<3" class="who-to-follow__block">
                        <div class="who-to-follow__author-logo-placeholder"></div>
                        <div class="who-to-follow__content">
                            <div>
                                <div (click)="goToUserProfile(user.id)" class="who-to-follow__author-name">
                                    {{user.username}}
                                </div>
                                <div class="who-to-follow__author-slug">
                                    {{user.email}}
                                </div>
                            </div>
                            <div class="who-to-follow__button" (click)="toggleFollowStatus(user)">
                                {{ userFollowStatusMap[user.id] ? 'Unfollow' : 'Follow' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="!isShowAllUserList">
                <div class="who-to-follow">
                    <div class="who-to-follow__block">
                        <div class="who-to-follow__heading">
                            Who to follow
                        </div>
                    </div>
                    <div *ngFor="let user of users;let i=index">
                        <div *ngIf="i<3" class="who-to-follow__block">
                            <div class="who-to-follow__author-logo-placeholder"></div>
                            <div class="who-to-follow__content">
                                <div>
                                    <div (click)="goToUserProfile(user.id)" class="who-to-follow__author-name">
                                        {{user.username}}
                                    </div>
                                    <div class="who-to-follow__author-slug">
                                        {{user.email}}
                                    </div>
                                </div>
                                <div class="who-to-follow__button" (click)="toggleFollowStatus(user)">
                                    {{ userFollowStatusMap[user.id] ? 'Unfollow' : 'Follow' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div (click)="seeAllUserlist()" class="see-more">
                        <a>See more</a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>